<div class="cardslist">
<h1>Your cards</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
  </tr>

<% @cards.each do |card| %>
  <tr>
    <td><%=h card.title %></td>
    <td><%=h card.body %></td>
    <td><%= link_to 'Edit', edit_card_path(card) %></td>
    <td><%= link_to 'Delete', card, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New card', new_card_path %>

</div>
