<% if current_user %>
<h1>New card</h1>

<% form_for(@card) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body, :style => 'height:150px;' %>
  </p>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <p>
    <%= f.submit 'Create Card' %> | <%= link_to 'Cancel', request.env['HTTP_REFERER'] %>
  </p>
<% end %>
<% else %>
You must be logged in to create a new card.
<% end %>